[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
websockets = "*"

[dev-packages]
flake8 = "*"
requests-mock = "*"
pytest = "*"
"pytest-cov" = "*"

[requires]

[scripts]
test = "python -m pytest tests/"
lint = "flake8"
