name: Build and test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pipenv
      uses: dschep/install-pipenv-action@v1
    - name: Install dependencies
      run: pipenv install --dev --python ${{ matrix.python-version }}
    - name: Run linter
      run: pipenv run lint
    - name: Run type
      run: pipenv run type
    - name: Run tests
      run: pipenv run test --cov=evasdk --cov-branch --cov-report=xml
    - name: Upload to codecov
      uses: codecov/codecov-action@v1.0.7
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./coverage.xml

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Install dependencies
        run: pip install Sphinx ; pip install m2r2
      - name: Update the docs
        run: cd docs ; sphinx-apidoc -f  -o . ..
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: Tom Allpress
          author_email: tom@autaomta.tech
          message: 'updating documentation'
          add: '*.rst'
